{% extends "base.html" %}

{% block content %}
        <section class="card shadow">
            <div class="card-body">
                <h2 class="card-title mb-4">Procesar Venta</h2>
                
                <form action="/procesar_venta" method="POST" class="row g-3">
                    <div class="col-md-8">
                        <label class="form-label">Seleccionar Producto y Lote (Stock Disponible)</label>
                        <select name="lote_id" class="form-select" required>
                            <option value="" selected disabled>Seleccione un medicamento...</option>
                            {% for lote in lotes %}
                            <option value="{{ lote[0] }}">
                                {{ lote[1] }} - Lote: {{ lote[2] }} (Quedan: {{ lote[3] }}) - Vence: {{ lote[4] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-md-4">
                        <label class="form-label">Cantidad a Vender</label>
                        <input type="number" name="cantidad" class="form-control" min="1" required>
                    </div>

                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-success btn-lg shadow-sm">Confirmar Venta</button>
                    </div>
                </form>
            </div>
        </section>
{% endblock %}

